body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Muli;
  background: #efefef; }

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: none; }

.heading {
  color: gray;
  margin: 80px 5% 50px 10%;
  text-align: left;
  border-bottom: solid 0.5px; }

button {
  color: white;
  background: blue;
  border-radius: 20px;
  border: solid blue;
  padding: 4px 20px;
  cursor: pointer; }
  button:hover {
    background: #78789b; }

.main {
  padding: 0.1px;
  height: 100%; }

.TopMenu {
  position: sticky;
  top: 0;
  z-index: 3; }

.TopMenu1 {
  background: #29323c;
  width: 100%; }
  .TopMenu1 .max-width {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 8%;
    margin: auto; }
    .TopMenu1 .max-width * {
      vertical-align: middle; }
    .TopMenu1 .max-width .gender {
      font-weight: bold;
      background: none;
      color: gray;
      font-size: 18px;
      border-radius: 3px; }
    .TopMenu1 .max-width p {
      display: inline-block;
      margin: 5px 2px; }
    .TopMenu1 .max-width img {
      filter: invert(1); }
    .TopMenu1 .max-width .search {
      display: inherit;
      width: 40%;
      border: white 1px solid;
      border-radius: 5px;
      padding: 3px;
      flex-direction: row-reverse; }
      .TopMenu1 .max-width .search > * {
        margin: 0px; }
      .TopMenu1 .max-width .search input {
        width: 700px;
        height: 20px;
        min-width: 100px;
        padding: 0px 16px;
        background: none;
        color: white;
        border: none; }
      .TopMenu1 .max-width .search .search-result {
        background: white;
        position: absolute;
        top: 34px;
        left: 50%;
        max-height: 90vh;
        width: 275px;
        overflow: hidden;
        transform: translate(-50%);
        box-shadow: 0 5px 10px gray; }
        .TopMenu1 .max-width .search .search-result .SearchItem {
          height: 50px;
          margin: 10px 0; }
          .TopMenu1 .max-width .search .search-result .SearchItem a > * {
            display: inline-block;
            margin: 0 15px;
            vertical-align: middle; }
          .TopMenu1 .max-width .search .search-result .SearchItem img {
            max-width: 50px;
            max-height: 50px;
            filter: invert(0); }
          .TopMenu1 .max-width .search .search-result .SearchItem .search-name {
            font-weight: bold;
            font-size: 16px;
            color: black; }
            .TopMenu1 .max-width .search .search-result .SearchItem .search-name span:nth-of-type(2) {
              background: lightblue; }
          .TopMenu1 .max-width .search .search-result .SearchItem .search-price {
            color: #660000; }
          .TopMenu1 .max-width .search .search-result .SearchItem:hover {
            border: solid gray; }

.TopMenu2 {
  background: #660000;
  padding: 4px; }
  .TopMenu2 ul {
    padding: 0;
    margin: 0;
    margin: auto;
    max-width: 1200px; }
    .TopMenu2 ul li {
      display: inline-block;
      margin: 0 40px 0 0;
      font-weight: bold;
      color: white;
      font-size: 18px;
      cursor: pointer;
      font-family: 'Dosis'; }
      .TopMenu2 ul li:hover {
        color: #6464ff; }

.Home {
  margin: auto;
  text-align: center; }
  .Home .home-intro {
    height: 300px;
    margin: 0px;
    color: RGB(200, 200, 200);
    justify-content: center;
    display: grid;
    align-items: center;
    position: relative;
    background: url("../images/shoehome.jpg") no-repeat bottom;
    background-size: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* border-bottom:
            left-radius: 50%  150px
            right-radius: 50% 150px  */ }
    .Home .home-intro > * {
      z-index: 1; }
    .Home .home-intro section {
      display: flex;
      flex-direction: column; }
      .Home .home-intro section p:first-of-type {
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Londrina Shadow'; }
    .Home .home-intro .contacts {
      align-self: end; }
      .Home .home-intro .contacts img {
        background: RGB(200, 200, 200);
        margin: 10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #660000; }
    .Home .home-intro:after {
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      /* border-bottom:
                left-radius: 50%  150px
                right-radius: 50% 150px */ }
  .Home .category {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .Home .category > div {
      margin-top: -70px; }
    .Home .category img {
      height: 250px;
      width: 270px;
      position: relative; }
  .Home .all-btn {
    display: block;
    margin: 100px auto 50px; }
  .Home .all-collection {
    display: none;
    max-width: 800px;
    margin: 150px auto; }

.Item {
  display: inline-block;
  margin: 25px;
  width: 190px; }
  .Item .pic {
    height: 230px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .Item .pic:hover > .pic-bg {
      transform: scale(0.8); }
    .Item .pic:hover img {
      transform: scale(1.2); }
    .Item .pic .pic-bg {
      position: absolute;
      background: white;
      width: 160px;
      height: 160px;
      border-radius: 200px;
      z-index: 0;
      transition: 0.6s; }
    .Item .pic a {
      z-index: 1; }
    .Item .pic img {
      max-width: 220px;
      max-height: 240px;
      transition: 0.6s; }
  .Item section {
    padding: 5px;
    font-family: Muli;
    text-align: left; }
    .Item section > * {
      padding: 0px;
      margin: 2px 0px; }
    .Item section h1 {
      font-weight: 400; }
    .Item section p {
      color: gray;
      font-style: italic;
      font-family: 'Roboto Mono'; }
    .Item section h3 {
      color: #660000;
      font-weight: 400; }
    .Item section .old-price {
      opacity: .5;
      text-decoration: line-through; }

.Detail {
  width: 100%;
  background: #aaaaaa;
  padding: 1px; }
  .Detail .cart-btn-btm {
    display: none; }
  .Detail .grid-cont {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .Detail .detail-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1/3;
    padding: 0 20px;
    margin-top: 30px; }
    .Detail .detail-head h2 {
      margin: 0 30px 0 0; }
  .Detail .detail-info {
    animation: shoe-info 2s  backwards;
    padding: 20px; }
    .Detail .detail-info .detail-price {
      color: #660000;
      font-size: 60px;
      margin: 30px 0px; }
  .Detail .detail-pic {
    animation: shoe 1s;
    align-self: start;
    justify-self: center;
    max-width: 100%; }
  .Detail .size-p {
    display: inline;
    color: #3c3c3c; }
  .Detail .size {
    cursor: pointer; }
  .Detail .cart-btns a {
    margin-right: 10px; }
    .Detail .cart-btns a:last-child button {
      background: none;
      color: blue;
      border: solid; }
      .Detail .cart-btns a:last-child button:hover {
        background: #78789b; }
  .Detail .also-buy h2 {
    color: black; }
  .Detail .also-buy .similar {
    max-width: 500px;
    margin: auto;
    text-align: center; }

.cart {
  min-height: 400px;
  max-width: 900px;
  margin: auto; }
  .cart .empty {
    font-size: 2em;
    text-align: center; }
  .cart .cart-item {
    text-align: left;
    border-bottom: black 1px dashed;
    padding: 20px;
    display: flex;
    justify-content: space-between; }
    .cart .cart-item > div > * {
      display: inline-block;
      vertical-align: top; }
    .cart .cart-item .cart-pic {
      width: 140px;
      height: 140px;
      background: no-repeat;
      background-size: contain; }
    .cart .cart-item .cart-sec p {
      color: #464646; }
    .cart .cart-item .cart-sec span {
      font-weight: bold; }
    .cart .cart-item .quantity > * {
      display: inline-block; }
    .cart .cart-item .cart-price {
      font-size: 70px;
      color: #660000; }
  .cart .checkout {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 100px auto; }
    .cart .checkout h2 {
      font-size: 3em;
      text-decoration: underline; }
    .cart .checkout section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: #e6e6e6 solid;
      padding: 0 15px; }
      .cart .checkout section > * {
        margin: 8px 0px;
        font-size: 32px; }
      .cart .checkout section > :first-child {
        font-style: italic; }
      .cart .checkout section > :last-child {
        font-weight: bold; }
    .cart .checkout button {
      clear: both;
      display: block;
      margin: auto;
      margin-top: 120px;
      font-size: 1.5em; }

.wo-men-kids {
  max-width: 800px;
  margin: auto;
  text-align: center; }

.footer {
  background: #323232;
  width: 100%;
  padding: 15px 0px;
  color: gray;
  text-align: center; }
  .footer ul {
    padding: 0; }
  .footer li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 12px; }
    .footer li:hover {
      color: white; }

.Men, .Women, .Kids {
  max-width: 1200px;
  margin: auto; }

@keyframes shoe {
  0% {
    transform: rotate(10deg);
    margin-top: -100px; }
  100% {
    transform: rotate(0deg);
    margin-top: 0px; } }

@keyframes shoe-info {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 600px) {
  .Detail .cart-btn-top {
    display: none; }
  .Detail .cart-btn-btm {
    display: block;
    white-space: nowrap; } }

@media screen and (max-width: 470px) {
  .TopMenu1 .max-width .search {
    border: none;
    width: 25px;
    overflow: hidden; }
    .TopMenu1 .max-width .search:hover {
      width: 40%;
      flex-direction: row-reverse;
      border: solid white 1px; }
  .Home .home-intro {
    height: auto; }
  .Detail .grid-cont {
    grid-template-columns: 1fr; }
  .Detail .detail-head {
    grid-column: 1/2; }
  .Detail .detail-pic {
    grid-row: 2/3;
    max-width: 50%; } }
